.hl {
    white-space: pre;
    font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background-color: #F4F4F4;
    color: #333;
    padding: 0.8em;
}

.hl-property {
    font-weight: bold;
}

.hl-string {
    color: green;
}

.hl-number {
    color: blue;
}

.hl-boolean {
    color: #c80000;
}

.hl-null {
    color: #999;
}

@media (prefers-color-scheme: dark) {
    .hl {
        background-color: #222;
        color: #F4F4F4;
    }
    .hl-number {
        color: #7c7cff;
    }
}