.App {
  padding: 0 1em;
}
@media (min-width: 768px) {
  .App {
    padding: 0 3em;
  }
}
svg {
  max-height: 600px;
}
text {
  font-size: 2.653px;
}
text.key-label {
  font-size: 10.503px;
}
/* #rfc text {
  fill: #f0f;
}
#iso text {
  fill: #00f;
} */
.App-FormatTable {
  width: 100%;
  border-collapse: collapse;
}

.App-FormatTable th,
.App-FormatTable td {
  border: 1px solid #999;
}

.App-FormatTable tbody tr:nth-child(2n) td {
  background: #F9F9F9;
}

.App-FormatTable td:nth-child(3),
.App-FormatTable td:nth-child(4)  {
  text-align: center;
}

code {
  color: #505050;
  background-color: #F4F4F4;
  border-radius: 3px;
  padding: 0 2px;
}

.App-FormatTable code {
  background-color: transparent;
}

@media print {
  a[href]::after {
    content: "[" attr(href) "]";
    opacity: 0.75;
    font-size: 0.8em;
    margin: 0 0.25em;
  }
}