.App {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .App {
    padding: 0 3em;
  }
}
svg {
  max-height: 600px;
}
text {
  font-size: 2.653px;
}
text.key-label {
  font-size: 10.503px;
}
/* #rfc text {
  fill: #f0f;
}
#iso text {
  fill: #00f;
} */
.App-FormatTable {
  width: 100%;
  border-collapse: collapse;
}

.App-FormatTable th,
.App-FormatTable td {
  border: 1px solid #999;
}

.App-FormatTable tbody tr:nth-child(2n) td {
  background: #F9F9F9;
}

.App-FormatTable td:nth-child(3),
.App-FormatTable td:nth-child(4),
.App-FormatTable td:nth-child(5)  {
  text-align: center;
}

code {
  color: #505050;
  background-color: #F4F4F4;
  border-radius: 3px;
  padding: 0 2px;
}

.App-FormatTable code {
  background-color: transparent;
}

.diagram--key .date,
.key-date {
  fill: #E80E9C;
}

.diagram--key .time,
.key-time {
  fill: #5D73F0;
}

.diagram--key .datetime,
.key-datetime {
  fill: #E69B58;
}

.diagram--key .period,
.key-period {
  fill: #5d3754;
}

.diagram--key .range,
.key-range {
  fill: #007a78;
}

.diagram .key-off {
  fill: white;
  stroke: #000;
  stroke-width: 0.1;
}

.diagram--key .key {
  cursor: pointer;
}

.diagram--key.diagram--hide-date .date {
  display: none;
}

.diagram--key.diagram--hide-time .time {
  display: none;
}

.diagram--key.diagram--hide-datetime .datetime {
  display: none;
}

.diagram--key.diagram--hide-period .period {
  display: none;
}

.diagram--key.diagram--hide-range .range {
  display: none;
}

@media print {
  a[href]::after {
    content: "[" attr(href) "]";
    opacity: 0.75;
    font-size: 0.8em;
    margin: 0 0.25em;
  }
}

.ToolBox-Card {
  border: 1px solid #999;
  padding: 8px;
  width: 600px;
  max-width: 95%;
  margin: 1em 0;
}