.App {
  padding: 0 3em;
}
svg {
  max-width: 100vw;
  max-height: 100vh;
}
text {
  font-size: 2.653px;
}
text.key-label {
  font-size: 10.503px;
}
/* #rfc text {
  fill: #f0f;
}
#iso text {
  fill: #00f;
} */
.App-FormatTable {
  width: 100%;
  border-collapse: collapse;
}

.App-FormatTable th,
.App-FormatTable td {
  border: 1px solid #999;
}

.App-FormatTable tbody tr:nth-child(2n) td {
  background: #F9F9F9;
}

.App-FormatTable td:nth-child(3),
.App-FormatTable td:nth-child(4)  {
  text-align: center;
}

code {
  color: #666;
}